<header class="devPartialHeader">
    <ul>
        <li class="devPartialHeader__links"><a href="signIn.hbs">signIn</a></li>
        <li class="devPartialHeader__links"><a href="signUp.hbs">signUp</a></li>
        <li class="devPartialHeader__links"><a href="error500.hbs">error500</a></li>
        <li class="devPartialHeader__links"><a href="error404.hbs">error404</a></li>
        <li class="devPartialHeader__links"><a href="profile.hbs">profile</a></li>
        <li class="devPartialHeader__links"><a href="registerChats.hbs">registerChats</a></li>
        <li class="devPartialHeader__links"><a href="chat.hbs">chat</a></li>
    </ul>
</header>
