.partial {
  &--message {
    color: var(--white);
    background: var(--dark_orange);
    border-radius: 12px;
    padding: 8px;

    max-width: 60%;

    &_left {
      background: var(--dark_sea);
      text-align: left;
      align-self: start;
    }

    &_right {
      background: var(--dark_orange);
      text-align: right;
      align-self: end;
    }
  }
}


