.user {
  &--listItem {
    width: 90%;
    background: white;
    position: relative;
    display: grid;
    margin: 0 auto 20px auto;
    grid-template-columns: 60px 1fr 60px;
    gap: 8px;

    padding: 12px;

    border-radius: 12px;
    border: var(--bright_orange) 1px solid;

    transition: 0.2s;

    &:hover {
      background: var(--light_sea);
      transform: scale(1.03);
    }

    &__photo {
      object-fit: cover;
      width: 60px;
      height: 60px;

      border-radius: 20px;

      grid-row: 1/3;
    }

    &__message {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__active {
      background: var(--bright_sea);
      color: white;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 20px;
      height: 20px;

      border-radius: 50%;

      position: relative;

      top: -10px;
      left: 12px;
    }
  }

  &__actions {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    background: rgba(128, 128, 128, 0.72);
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    border-radius: 8px;

    .partial--button {
      padding: 4px;
      height: auto !important;
      margin-bottom: 4px;
    }
  }
}

.option-button {
  display: inline;
  background: none;
  align-self: self-start;
  text-align: end;
  padding: 0;

  position: absolute;
  top: 8px;
  right: 8px;

  z-index: 110;
}

.add-option-button {

}
