.chat-page {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 30% 1fr;
  align-self: start;
  height: 100%;

  .chat-list {
    border: 3px var(--bright_sea) solid;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
  }

  .chat {
    border: 3px var(--bright_sea) solid;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;

    min-height: 70vh;

    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .chat__send-message {
    display: grid;
    grid-template-columns: 1fr 50px;
    gap: 12px;

    margin-top: 20px;
  }

  .send-message {
    &__input {
      height: 100px;
    }

    &__button {
      align-self: center;
      height: 50px;
    }
  }

  .users {
    position: absolute;
    top: 62px;
    right: 22px;

    border-radius: 20px;

    min-height: 70vh;

    background: rgba(128, 128, 128, 0.74);

    width: 300px;
  }

  .users-button {
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 100;
  }

  .add-users-button {
    position: absolute;
    top: 24px;
    right: 120px;
    z-index: 100;
  }

  .profile-link {
    position: absolute;
    top: 0;
  }

  .chat-list .profile-link {
    display: none;
  }
}
