:root {
  --mid_sea: #00A480;
  --sea: #1F7B67;
  --dark_sea: #006B53;
  --bright_sea: #34D2AF;
  --light_sea: #5ED2B8;

  --mid_orange: #FF6200;
  --orange: #BF6730;
  --dark_orange: #A63F00;
  --bright_orange: #FF8940;
  --light_orange: #FFA873;

  --white: #ffffff;
  --red: #ff0000;
  --black: #000000;
  --gray: #808080FF;
}

$colors: "white", "red", "black", "gray", "mid_sea", "sea", "dark_sea", "bright_sea", "light_sea", "mid_orange", "orange", "dark_orange", "bright_orange", "light_orange";

@each $color in $colors {
  .text-#{$color} {
    color: var(--#{$color});
  }

  .hover\:text-#{$color}:hover {
    color: var(--#{$color});
  }

  .focus\:text-#{$color}:focus {
    color: var(--#{$color});
  }

  .active\:text-#{$color}:active {
    color: var(--#{$color});
  }
}

@each $color in $colors {
  .bg-#{$color} {
    background-color: var(--#{$color});
  }

  .hover\:bg-#{$color}:hover {
    background-color: var(--#{$color});
  }

  .focus\:bg-#{$color}:focus {
    background-color: var(--#{$color});
  }

  .active\:bg-#{$color}:active {
    background-color: var(--#{$color});
  }
}
