.profile {
  width: 70%;
  margin: auto;

  padding: 40px;
  box-shadow: var(--dark_sea) 0 0 16px;
  border-radius: 8px;

  &__header {
    text-align: center;
  }

  &__link {
    border-bottom: var(--dark_sea) 1px solid;
  }

  &__photo {
    width: 50%;
    display: block;
    border: var(--dark_sea) 3px solid;
    border-radius: 30px;

    margin: 30px auto 40px auto;
  }
}
