$values: 0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72,
  76, 80, 84, 88, 92, 96, 100;

$names: "", "max-", "min-";
$sides: "-right", "-left", "-top", "-bottom";

@each $value in $values {
  @each $side in $sides {
    .m#{str-slice($side, 2, 2)}-#{$value} {
      margin#{$side}: #{$value}px;
    }
  }
}

@each $value in $values {
  @each $side in $sides {
    .p#{str-slice($side, 2, 2)}-#{$value} {
      padding#{$side}: #{$value}px;
    }
  }
}

@each $value in $values {
  @each $name in $names {
    .#{$name}w-#{$value} {
      #{$name}width: #{$value}px;
    }
  }
}

.w-full {
  width: 100%;
}

@each $value in $values {
  @each $name in $names {
    .#{$name}h-#{$value} {
      #{$name}width: #{$value}px;
    }
  }
}

.h-full {
  height: 100%;
}

@each $value in $values {
  .text-#{$value} {
    font-size: #{$value}px;
    line-height: #{$value + 4}px;
  }
}
