{{!< main}}

<section class="profile text-16">
    <h1 class="profile__header text-mid_orange text-40">Профиль</h1>
    <img alt="photo" src="../assets/img/logo.png" class="profile__photo">

    {{> dataValue/index label="Имя" value="Иван" class="w-full mb-20"}}
    {{> dataValue/index label="Фамилия" value="Иванов" class="w-full mb-20"}}
    {{> dataValue/index label="Почта" value="Почта@example.ru" class="w-full mb-20"}}
    {{> dataValue/index label="Логин" value="termonator3000" class="w-full mb-20"}}
    {{> dataValue/index label="Телефон" value="8 800 555 35 35" class="w-full mb-80"}}

    {{> link/index  href="./signUp.hbs" text="Редактировать" class="profile__link  mb-16"}}
    {{> link/index  href="./signIn.hbs" text="Выйти" class="profile__link text-mid_orange  mb-40"}}
</section>
