.header {
  background: var(--light_orange);
  width: 100%;
  border-radius: 20px;

  display: flex;
  justify-content: end;
  align-items: center;

  &__link {
    max-height: max-content;
    display: flex;
    padding: 8px;
    background: var(--dark_sea);
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    color: var(--light_sea);

    font-size: 16px;
    line-height: 20px;
    margin-right: 12px;
  }

  &__logo {
    height: 90px;
    width: 90px;
    border: 10px var(--light_orange) solid;
    border-radius: 20px;
  }
}
