<header class="header">
    <a href="signUp.hbs" class="header__link">Создать</a>
    <a href="signIn.hbs" class="header__link">На Связь</a>

    <img alt="logo" src="../assets/img/logo.png" class="header__logo logo">
</header>
