.partial {
  & --link {
    display: block;
    color: var(--sea);

    & :focus {
      color: var(--bright_sea);
    }

    & :hover {
      color: var(--bright_sea);
    }

    & :visited {
      & :focus {
        color: var(--bright_sea);
      }

      & :hover {
        color: var(--bright_sea);
      }
    }
  }
}
