.search-wrapper {
  min-height: 70vh;
  width: 300px;
  background: #808080bd;
  border-radius: 20px;
  position: absolute;
  top: 62px;
  right: 22px;
  z-index: 200;
  overflow: auto;
  height: 70vh;
  padding: 8px;
}
